.cards_container {
  display: flex;
  justify-content: center;
  margin-top: -5%;
 
  }
  


.font {
  position: absolute;
  opacity: 15%;
  display: flex;
  object-fit: cover;
  
  width: 200%;
  margin-top: -110px;
}

.carteimage {
  width: 100%;
  image-resolution: 100%;
  height: 200px;

  object-fit: cover;
  margin-top: 0px;
  margin-left: 10%;
  border-radius: 25px;
}
.card {
  height: 20rem;
  width: 62%;
  /* max-width: 60%; */
  border: 0.1px solid rgb(0, 0, 0);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 4px 8px black;
  border-color: rgb(255, 255, 254);
  background-color: #e5d2c7;
  z-index: 1;
  transition: all 0.5s ease;
  margin-bottom: 40%;
}
.card:hover .description {
  opacity: 100%;
  position: relative;
}
.card:hover .ajouter {
  border-radius: 10px;
  height: 50px;
  width: 200px;
  left: -20px;
  position: relative;
  bottom: 0px;
  border-radius: 20px;
}
.card:hover {
  height: 430px;
}
.card_text {
  text-align: center;
  padding-bottom: 0px;
  position: absolute;
  margin-top: 3px;
  width: auto;
}
.titre_card {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  padding-left: 15px;
  word-wrap: break-word;
  width: auto;
  /* position: relative; */
}
.description {
  font-size: 10;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 10px;
  margin-top: 60px;
  position: absolute;
  height: 3.7rem;
  max-width: 88%;
  opacity: 0;
}

.prix {
  font-size: 1.2rem;
  color: white;
  background-color: #ee9045;
  left: -5%;
  margin-top: -4.5rem;
  position: absolute;
  width: auto;
  height: 30px;
  word-wrap: break-word;
  border-radius: 25%;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  padding-left: 7%;
}
.card:hover .prix {
  margin-top: -22.5%;
  width: 40%;
  padding-left: 5%;
}
.ajouter {
  border-radius: 10px;
  height: 50px;
  width: 120px;
  position: absolute;
  left: 170px;
  bottom: -40px;
  background-color: #ee9045;
}
.ajouter:hover {
  background-color: #d6976b;
}
.boutton:hover {
  transform: scale(1.1);
  background-color: #503103;
  color: #f8f8f8;
}
.quantity-controls {
  background-color: #ffffff;
  width: 120px;
  border-radius: 100px;
  left: 5%;
  z-index: 1000;
  position: relative;
  justify-items: center;
  padding-bottom: 1.5%;
}
.quantity-controls1 {
  background-color: transparent;
  border-radius: 100px;
  height: 28px;
  width: 28px;
}

.quantity-controls2 {
  background-color: transparent;
  border-radius: 100px;
  height: 28px;
  width: 28px;
}
.quantity-controls button:hover {
  background: #ee9045;
}
.qtt {
  margin: 20px;
  font-size: 1.5rem;
}
.stock_restant {
  opacity: 0;
  /* position: relative; */
  font-size: 1rem;
  color: #3d3d3d;
  margin-top: -75px;
  text-align: right;
  right: 50px;
  /* padding-left: 15px; */
}
.card:hover .stock_restant {
  position: relative;
  opacity: 1;
  top: 40px;
  right: 60px;
}

.All_Cards {
  margin: 10% auto;
  max-width: 80%;
  align-items: center;
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(3, 33%);

  position: relative;
  transition: margin-top 1.4s ease;
}

.All_Cards.active-search {
  margin-top: 60%; 
}

@media (max-width: 1024px) {
  .cards_container {
    display: flex;
    justify-content: center;
    margin-top: 30%;
  }
  .All_Cards {
    grid-template-columns: repeat(2,45% );
    gap: 50px;
    margin: auto;
    /* margin-left: 3%; */
  }
  .card 
{width: 80%;
  }
  .carteimage {
    width: 100%;
    image-resolution: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 0px;
    margin-left: 12%;
    border-radius: 25px;
  }
  .titre_card {
    font-size: 1.5rem;
  
    word-wrap: break-word;
    width: 70%;

  }
  .ajouter {
    left: 130px;
    top: 40px;
    width: 100px;
  }
  .quantity-controls {
    width: 100px;
    top: 10px;
    position: relative;
  }
  .qtt {
    margin: 10px;
    font-size: 1.2rem;
  }
  .card:hover .prix {
    margin-top: -22%;
    width: 50%;
    padding-left: 5%;
  }
  .card:hover .description {
    opacity: 100%;
    top: 1rem;
    position: relative;
    width: 70%;
  }
  .card:hover .ajouter {
    border-radius: 10px;
    height: 50px;
    top: 0px;
    width: 200px;
    left: -38px;
    position: relative;
    bottom: 0px;
    border-radius: 20px;
  }

  .card:hover .stock_restant {
    position: relative;
    opacity: 1;
    top: 55px;
    right: 100px;
  }
}

@media (max-width: 767px) {
  .All_Cards {
    grid-template-columns: repeat(2, 50%);
    margin: auto;
    gap:0%
  }
  .card {
    height: 25rem;
    width: 70%;
  
    border: 0.1px solid rgb(0, 0, 0);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    box-shadow: 0px 4px 8px black;
    border-color: rgb(255, 255, 254);
    background-color: #e5d2c7;
    z-index: 1;
    /* margin-bottom: 2%; */
    transition: all 0.5s ease;
    margin-bottom: 20%;
  }
  .carteimage {
    width: 100%;
    image-resolution: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 0px;
    margin-left: 16%;
    border-radius: 25px;
  }
  .quantity-controls {
  
    width: 100px;
    border-radius: 100px;
    left: 2%;
    z-index: 1000;
    position: relative;
    justify-items: center;
    padding-bottom: 1.5%;
  }

  .description {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10px;
    margin-top: 60px;
    position: relative;
    height: 4.2rem;
    max-width: 50%;
    opacity: 1;
  }   
  .ajouter {
    left: 120px;
    top: 45px;
    height: 50px;
    width: 70px;
  }
  .stock_restant {
    position: relative;
    opacity: 1;
    top: 50px;
    right: 100px;
  }
}