.Container_MOdal {
  width: 100%;
  height: 100%;
  border: 0 0 10px solid black;
  background-image: linear-gradient(
    to bottom left,
    rgba(253, 136, 33, 1),
    rgba(220, 14, 227, 0.708)
  );
  backface-visibility: 100%;
  position: fixed;
  bottom: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1001;
}
.Container_MOdal h2 {
  color: white;
  font-size: 40px;
  font-weight: 20px;
  position: absolute;
  top: 85px;
}
.Container_MOdal div h1 {
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: rgba(152, 149, 149, 0.636);
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 500px;
}
.Container_MOdal > div {
  height: 550px;
  width: 900px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  top: 50px;
  background-color: #eeeae7;
  border-radius: 30px;
  border: 2px solid rgb(207, 207, 207);
  box-shadow: 0 0 1px rgb(176, 176, 176);
}

.Container_MOdal > div .butonPayment {
  height: 500px;
  width: 500px;
  background-color: #eeeae7;
  /* border-left: 1px solid black; */
}

.Container_MOdal > div .butonPayment button {
  height: 50px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 15px;
  background-color: rgba(190, 193, 195, 0.425);
  color: rgba(253, 136, 33, 1);
  border: none;
  position: relative;
  left: 70px;
}
.Container_MOdal > div .butonPayment .active {
  background-color: rgb(239, 143, 8);
  color: rgb(248, 243, 243);
}
.Container_MOdal > div .butonPayment .MvolaPay:active {
  background-color: rgb(239, 143, 8);
  color: rgb(248, 243, 243);
}

.Container_MOdal > div .butonPayment .inputText {
  margin-top: 60px;
  height: 200px;
  width: 300px;
  position: absolute;
  right: 100px;

  /* background-color: aquamarine; */
}

input {
  margin-top: 10px;
  width: 280px;
  border-radius: 10px;
  height: 40px;
  background-color: #eeeae779;
  outline: none;
}

.btnSubmit {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 270px;
  right: 150px;
}

.btnSubmit #SubmitBtn {
  background-color: rgba(253, 136, 33, 1);
  width: 300px;
  height: 55px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  border: none;
  position: relative;
  left: 10px;
}

.btnSubmit #SubmitBtn:hover {
  background-color: rgba(255, 166, 0, 0.963);
  color: #eeeae7;
}

.date {
  height: 10px;
  width: 250px;
  position: absolute;
  top: 195px;
  border-bottom: orange;
}

.date p {
  color: rgb(25, 24, 23);
  width: 280px;
  height: 50px;
  border: none;
  text-align: center;
  background-color: rgba(190, 193, 195, 0.425);
  border-radius: 10px;
  border-bottom: orange;
  padding-top: 10px;
}

input {
  outline: none;
  background-color: rgba(190, 193, 195, 0.281);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(255, 166, 0, 0.762);
}
.price {
  height: 546px;
  width: 3%;
  padding-left: 200px;
  /* background-color: rgba(203, 199, 199, 0.763); */
  position: absolute;
  right: 498px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.price .title {
  height: 100px;
  width: 300px;
}
/* .price .title h3 {
  color: rgb(8, 8, 8);
  margin-bottom: 20px;
  text-align: end;
}
.title img {
  margin-top: 40px;
}
 */
 .verticalLineModal{
  width: 0.5;
  height: 500px;
  background-color: rgba(133, 133, 133, 0.726);
  position: relative;
  right: 450px;
 }
.totalModal {
  color: rgba(101, 99, 99, 0.825);
  position: relative;
  bottom:-310px;
  left: 60px;
}
.butonPayment button img {
  height: 50px;
  width: 50px;
  color: black;
}
.erreurModal2 {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  color: red;
  border: 1px solid red;
  position: absolute;
  bottom: 50px;
  left: 73%;
  cursor: pointer;
}
