.top__nav {
  position: fixed;
  top: 0;
  left: 260px;
  z-index: 999;
  background: var(--primary-color);
  width: calc(100% - 260px);
  height: 70px;
}

.top__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  height: 70px;
}

.top__nav-titre {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--heading-color);
  letter-spacing: 0.3px;
}

.top__nav-right {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: flex-end;
}

.profile {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}